@import '~antd/dist/antd.css';
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgb(22, 15, 49); /* or add it to the track */
}
::-webkit-scrollbar-thumb {
    background: rgb(134, 134, 143);
}
.site-layout-background::-webkit-scrollbar{
  background-color: rgb(235, 225, 225); /* or add it to the track */
}


